.logoWrapper {
	position: relative;
	display: inline-block;
}

.ellipse {
	position: absolute;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	background: linear-gradient(#6a64f6, #a96ddf 0, #c77fcd 66%, #a789c9);
	filter: blur(15px);
	border-radius: 50%;
}

.logo {
	position: relative;
	z-index: 1;
	font-family: JazzBall, sans-serif;
	font-size: 44px;
	line-height: 1;
	color: #fff;
}
