.signIn {
    width: 480px;
    background-color: #ffffff;
    box-shadow: 40px 40px 60px 0 rgba(228, 320, 234, 0.25);
    border-radius: 10px;
    padding: 45px 40px;
}

.label,
.labelText {
    display: block;
}
