.logoWrapper {
    position: relative;
    width: 134px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipse {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    background: linear-gradient(
        #6a64f6 0%,
        #a96ddf 0%,
        #c77fcd 66%,
        #a789c9 100%
    );
    filter: blur(15px);
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
