.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.headerWrapper {
    width: 100%;
    max-width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}

.buttonsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}