.wrapper {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

.appNav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #333;
}

@media (prefers-color-scheme: light) {
  .appNav {
    border-bottom-color: #ddd;
  }
}
