.DialogHeading {
    margin-bottom: 10px;
    font-family: var(--bui-font-main-cond);
    font-size: var(--bui-typo-h3);
    font-style: normal;
    font-weight: 800;
    line-height: var(--bui-typo-lh-h3);
    letter-spacing: 0;
}
