.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout__header {
    flex-shrink: 0;
}

.layout__main {
    flex: 1 0 auto;
    padding: 20px;
}

.layout__footer {
    flex-shrink: 0;
} 