@import url('../../assets/mixins/transition.css');
@import url('./Link.vars.css');

.link {
	display: inline-flex;
	gap: 0.35em;
	align-items: center;
	max-width: 100%;
	padding: 0;
	font-family: var(--link-font-family);
	font-weight: var(--link-font-weight);
	line-height: inherit;
	color: var(--link-default-text);
	text-decoration: none;
	letter-spacing: var(--font-letter_spacing-normal, 0);
	cursor: pointer;
	background: none;
	border: none;
	border-radius: var(--link-border-radius);

	@mixin transition all, var(--link-transition-duration);
}

.link:focus-visible {
	outline: 2px solid var(--link-focus-outline);
	outline-offset: var(--link-underline-offset);
}

/* Variants */

.variant_default:not(.disabled) {
	@media (hover: hover) {
		&:hover {
			color: var(--link-default-text-hover);
		}
	}
}

.variant_accent {
	font-weight: var(--link-font-weight-accent);
	color: var(--link-accent-text);
}

.variant_accent:not(.disabled) {
	@media (hover: hover) {
		&:hover {
			color: var(--link-accent-text-hover);
		}
	}

	&:active {
		color: var(--link-accent-text-active);
	}
}

.variant_muted {
	color: var(--link-muted-text);
}

.variant_muted:not(.disabled) {
	@media (hover: hover) {
		&:hover {
			color: var(--link-muted-text-hover);
		}
	}
}

.variant_inverse {
	color: var(--link-inverse-text);
}

.variant_inverse:not(.disabled) {
	@media (hover: hover) {
		&:hover {
			color: var(--link-inverse-text-hover);
		}
	}
}

/* Underline */

.underline_none {
	text-decoration: none;
}

.underline_hover {
	text-decoration: underline;
	text-decoration-color: transparent;
	text-underline-offset: var(--link-underline-offset);
}

.underline_hover:not(.disabled) {
	@media (hover: hover) {
		&:hover {
			text-decoration-color: currentColor;
		}
	}
}

.underline_always {
	text-decoration: underline;
	text-underline-offset: var(--link-underline-offset);
}

/* Sizes */

.extraSmall {
	font-size: var(--font-size-base-xs, 12px);
	line-height: var(--font-line_height-s, 16px);
}

.small {
	font-size: var(--font-size-base-s, 14px);
	line-height: var(--font-line_height-sm, 20px);
}

.medium {
	font-size: var(--font-size-base-m, 16px);
	line-height: var(--font-line_height-m, 24px);
}

.disabled {
	color: var(--link-disabled-text);
	pointer-events: none;
	cursor: not-allowed;
}
