.button {
    width: 100%;
    display: block;
    background-color: #1570EF;
    border-radius: 8px;
    color: #fff;
    border: none;
    padding: 17px 24px;
    min-width: 100px;
    font-size: 20px;
    line-height: 1;
}